# Default reviewers for all changes in entire repository,
# unless a later match takes precedence
*  @DapengYuan-David @huiyqiu @fulaliu

# Reviewers to be assigned for any changes in ci/ subdirectory
ci/*  @DapengYuan-David @huiyqiu @fulaliu
