name: Build Yocto

on:
  workflow_dispatch:

  workflow_call:
    outputs:
      artifacts_url:
        description: "URL to retrieve build artifacts"
        value: ${{ jobs.create-output.outputs.url }}

env:
  CACHE_DIR: ${{ github.workspace }}/.cache/meta-qcom
  KAS_REPO_REF_DIR: ${{ github.workspace }}/.cache/meta-qcom/kas-mirrors
  KAS_CONTAINER: ${{ github.workspace }}/.cache/meta-qcom/kas-mirrors/kas-container

jobs:
  kas-setup:
    if: github.repository == 'DotaIsMind/meta-qcom-robotics-sdk'
    runs-on: ubuntu-latest
    steps:
      - name: Update kas-container
        run: |
          mkdir -p "${KAS_REPO_REF_DIR}"
          LATEST=$(git ls-remote --tags --refs --sort="v:refname" https://github.com/siemens/kas | tail -n1 | sed 's/.*\///')
          wget -qO "${KAS_CONTAINER}" "https://raw.githubusercontent.com/siemens/kas/refs/tags/${LATEST}/kas-container"
          ls -al "${KAS_REPO_REF_DIR}"
          file "KAS_CONTAINER" || true
          chmod +x "${KAS_CONTAINER}"
      
      - name: Upload kas-container artifact
        uses: actions/upload-artifact@v4
        with:
          name: kas-container
          path: ${{ env.KAS_CONTAINER }}

      - name: Update kas mirrors
        run: |
          mkdir -p "${KAS_REPO_REF_DIR}"
          for r in $(find "${KAS_REPO_REF_DIR}" -mindepth 1 -maxdepth 1 -type d || true); do
            echo "pre-fetch: $r"
            git -C "$r" fetch --prune origin '+refs/*:refs/*' || true
          done

      - uses: actions/checkout@v4

      - name: Download kas-container artifact
        uses: actions/download-artifact@v4
        with:
          name: kas-container
          path: ${{ env.CACHE_DIR  }}/kas-mirrors
    
      - name: Ensure kas-container executable & verify
        run: |
          export KAS_CONTAINER="${CACHE_DIR}/kas-mirrors/kas-container"
          echo "Listing container file:"
          ls -al "$KAS_CONTAINER"
          file "KAS_CONTAINER" || true
          chmod +x "$KAS_CONTAINER"

      - name: Run kas lock
        run: |
          ${KAS_CONTAINER} lock --update ci/base.yml:ci/qcom-distro.yml

      - uses: actions/upload-artifact@v4
        with:
          name: kas-lock
          path: ci/*.lock.yml